<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
   
    <div>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/users" >Users</a></li>
        </ul>
        <div class="wrap"> 
          <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>City</th>
              <th>Action</th>
            </tr>
            <% listUsers.forEach(item => { %>
              <tr>
                 <td><%= item.id %></td>
                 <td><%= item.name %></td>
                 <td><%= item.email %></td>
                 <td><%= item.city %></td>
                 <td>
                   <a href="/update/<%= item.id %>">Edit</a>
                   <button>Delete</button>
                 </td>
              </tr>
            <% }); %>
          </table>
        </div>
    </div>
</body>
</html>